.sidebar {
	flex: 1;
	border-right: 0.5px solid #e6e3e3;
	min-height: 100vh;
	background-color: #ffffff;

	.top {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 25px 0;
		border-bottom: 1px solid #e6e3e3;

		.logo {
			width: 150px;
		}
	}

	.filters {
		margin: 10px;
		background-color: #F5F6F7;
		border-radius: 5px;

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 15px;
      margin: 15px;
    }
	}
}
